name: Lint checks

on:
  workflow_call:

jobs:
  commit_message:
    name: Validate the commit message
    runs-on: ubuntu-latest
    steps:

      - name: Code checkout
        uses: actions/checkout@v3

      - name: Check format
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '^((Merge )|(Revert )|((\w*)\: ([^\n]*)(\n\n?(.*))?)$)'
          flags: 'is'
          error: 'Invalid commit message format'
          excludeTitle: true
          excludeDescription: true
          checkAllCommitMessages: true
          accessToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Check line length
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '^.{1,72}(\n|$)'
          flags: ''
          error: 'Maximum line length of 72 characters exceeded on the first line'
          excludeTitle: true
          excludeDescription: true
          checkAllCommitMessages: true
          accessToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Check type
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '^((Merge )|(Revert )|(added|changed|chore|fixed|misc|removed)?:)'
          flags: 'is'
          error: 'Invalid commit message type'
          excludeTitle: true
          excludeDescription: true
          checkAllCommitMessages: true
          accessToken: ${{ secrets.GITHUB_TOKEN }}

  php_lint:
    name: Validate composer.json and PHP Coding style
    runs-on: ubuntu-latest
    steps:
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          coverage: none
          extensions: gd,pdo,xml,json,mysqli,pdo_mysql

      - name: Code checkout
        uses: actions/checkout@v3

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Restore Composer Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Composer validate
        run: composer validate

      - name: Composer install
        run: |
          composer install
          composer require --dev elgg/sniffs:dev-master

      - name: PHP Code Style checks
        run: vendor/bin/phpcs --standard=vendor/elgg/sniffs/src/Elgg -sp .

  languages_lint:
    name: Validate language files are UTF-8 encoded
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Check encoding of language files
        run: echo '! find ./languages/ -name "*.php" -type f -exec file --mime {} \; | grep -v "charset=utf-8$" | grep -v "charset=us-ascii$"' | bash
